.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.inputContainer {
  display: flex;
  align-items: center;

  height: 56px;

  border: 1px solid #2A2A2A;

  border-radius: 18px;

  background: #111111;

  transition: .25s;
}

.inputContainer:focus-within {
  border-color: white;

  box-shadow: 0 0 20px rgba(255,255,255,.08);
}

.input {
  flex: 1;

  background: transparent;

  border: none;

  outline: none;

  color: white;

  font-size: 16px;

  padding: 0 18px;
}

.icon {
  display: flex;

  align-items: center;

  justify-content: center;

  width: 48px;
}

.error {
  color: #ff4d4f;

  font-size: 13px;
}